name: CI

on: [ push, pull_request ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Rust ${{ matrix.channel }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        channel: [ stable, beta, nightly ]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install Rust ${{ matrix.channel }}
        uses: moonrepo/setup-rust@v1
        with:
          bins: cargo-hack
          channel: ${{ matrix.channel }}

      - name: Test powerset
        run: cargo hack test --feature-powerset --optional-deps

  publish_dry_run:
    name: Publish dry run
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install Rust
        uses: moonrepo/setup-rust@v1

      - name: Publish dry run
        run: cargo publish --dry-run

  msrv:
    name: MSRV
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install cargo-msrv
        uses: moonrepo/setup-rust@v1
        with:
          bins: cargo-msrv

      - name: Verify MSRV
        id: verify
        run: cargo msrv verify

      - name: Find actual MSRV
        if: ${{ failure() && steps.verify.conclusion == 'failure' }}
        run: cargo msrv find

  miri:
    name: Miri
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install Miri
        uses: moonrepo/setup-rust@v1
        with:
          channel: nightly
          components: miri

      - name: Setup Miri
        run: cargo +nightly miri setup

      - name: Test with Miri
        run: cargo +nightly miri test
